@(requestForm: Form[Request])

@import helper._

@main {
<div class="row">
  <div class="page-header">
    <h2>申請書</h2>
  </div>

  <div class="col-xs-6">
    @helper.form(action = routes.Requests.create) {

    @inputText(
    requestForm("title"),
    '_label -> "タイトル",
    'placeholder -> "入力してください",
    'class -> "form-control"
    )

    @textarea(
    requestForm("description"),
    '_label -> "内容",
    'placeholder -> "例: サンプルワークフローシステムです。",
    'class -> "form-control"
    )

    @inputDate(
    requestForm("targetDate"),
    '_label -> "対象日",
    'placeholder -> "2013-01-01"
    )

    <input type="submit" class="btn btn-primary active" value="保存">
    <a href="@routes.Requests.index()" class="btn btn-default" role="button">申請書一覧に戻る</a>
    }
  </div>
</div>
}
