@(requestForm: Form[Request])

@import helper.form
@import bootstrap3._

@main {
  <div class="row">
    <div class="page-header">
      <h2>申請書</h2>
    </div>

    <div class="col-xs-6">
      @if(requestForm.hasErrors) {
      <p class="error alert alert-danger">
        @Messages("error.form")
      </p>
      }
      @helper.form(action = routes.Requests.create, 'class -> "form-horizontal") {

      @input(requestForm("title"),
      inputType = "text",
      label = "タイトル",
      placeholder = "タイトルを入力してください",
      help = Messages("error.title")
      )
      
      @textarea(requestForm("description"),
      label = "申請内容",
      placeholder = "例: サンプルワークフローシステムです。",
      help = Messages("error.description")
      )

      @input(requestForm("targetDate"),
      inputType = "date",
      label = "対象日",
      placeholder = "",
      help = Messages("error.targetDate")
      )

      <div class="button-group">
        <input type="submit" class="btn btn-primary active" value="保存">
        <a href="@routes.Requests.index()" class="btn btn-default" role="button">戻る</a>
      </div>
      }
    </div>
  </div>
}
