@(requests: List[models.Request])(count: Integer)

@main {
<div class="row">
  <div class="page-header">
    <h1>申請書一覧</h1>
  </div>

  <h4>対象 @(count)件</h4>
  <table id="requestListing" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>*</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>対象日</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      @for((request, index) <- requests.zipWithIndex) {
      <tr>
        <td>@(index + 1)</td>
        <td>@request.title</td>
        <td>@request.description</td>
        <td>@request.targetDate</td>
        <td>@request.createdAt.format("yyyy/MM/dd HH:mm:ss")</td>
        <td>@request.updatedAt.format("yyyy/MM/dd HH:mm:ss")</td>
      </tr>
      }
    </tbody>
  </table>

  <a href="/requests/new" class="btn btn-primary active" role="button">申請書作成</a>
</div>
}
